<!DOCTYPE html>
<html ng-app="myApp" ng-controller="mainCtrl">

<head>
<title>Sample Project</title>
</head>
<body>
  <div class="head">
  <hdir>Priyadarshini</hdir>
</div>

<div class="middle">

<p><a href="#/login">{{'Login' | translate}}</a></p><br />
<button ng-click="lang('en')">English</button>
<button ng-click="lang('ta')">Tamil</button>
    <div ng-view></div>
</div>

  <div class="head">
  <fdir></fdir>
</div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="app.js"></script>
  <script src="login/login.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
</body>

</html>
